.wrapper
  .chat-side
    .side-ber_user-name
      .top-items
        .top-items__name aa
        .top-items__icon
          =link_to "#", class: "logo-first" do
            = icon('fa','edit')
          =link_to "#", class: "logo-second" do
            = icon('fa','cog')

    .groups
      = link_to "#", class:"group" do
        %p.group__group-name
          test
        %p.group__latest-message
          まだメッセージがありません

      = link_to "#", class:"group" do
        %p.group__group-name
          test
        %p.group__latest-message
          まだメッセージがありません

      = link_to "#", class:"group" do
        %p.group__group-name
          test
        %p.group__latest-message
          まだメッセージがありません

      
        
      

  
  